(
    title: "E2EE",
    stages: [
        [
            "01-inlet-outlet 127.0.0.1:4001 india.colorado.edu:13",
            "match Initializing ockam node",
            "sleep 1",
            "http http://neverssl.com:80 NeverSSL",
            "quit"
        ],
    ]
)
